﻿@import url(https://fonts.googleapis.com/css?family=Sintony:400,700);
@import url(../css/fonts.css);
@import url(../css/menu.css);
/* =============================================================================
   BROWSER RESET STYLES
   ============================================================================= */
@font-face {
	font-family: 'Conv_ITCAvantGardeStd-Bk';
	src: url('../fonts/ITCAvantGardeStd-Bk.eot');
	src: local('☺'), url('../fonts/ITCAvantGardeStd-Bk.woff') format('woff'), url('../fonts/ITCAvantGardeStd-Bk.ttf') format('truetype'), url('../fonts/ITCAvantGardeStd-Bk.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video {
	margin: 0;
	padding: 0;
	font-family: 'Sintony', sans-serif;
	font-size: 100%;
	line-height: 100%;
	color: #333;
	font-weight: 300;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
label {
	padding: 0;
	margin: 0;
}
ul, li, ol {
	padding: 0;
	margin: 0;
}
.clear, .clearfix {
	clear: both;
}
a, img {
	border: 0;
	outline: none;
	text-decoration: none;
}
input::-moz-focus-inner {
 border: 0;
}
input, select, textarea, button {
	outline: none;
}
img {
	max-width: 100%;
	height: auto;
}
body {
	background: #FFF;
}
::-webkit-input-placeholder {
 color:#717171;
}
/* =============================================================================
   TYPOGRAPHY STYLES
   ============================================================================= */
h1, h2, h3, h4, h5 {
	font-family: 'Conv_ITCAvantGardeStd-Bk', Sans-Serif;
	line-height: normal;
	font-weight: normal;
	text-transform: none;
}
h1 {
	font-size: 48px;
}
h2 {
	color: #666666;
	display: inline-block;
	font-size: 28px;
	margin-bottom: 20px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
h2 strong {
	color: #a73c9c;
	font-family: 'Conv_ITCAvantGardeStd-Bk', Sans-Serif;
	font-size: 28px;
}
h2 div {
	background: #a4a4a4 none repeat scroll 0 0;
	display: block;
	height: 1px;
	margin-top: 12px;
	width: 100%;
}
h2 div span {
	background: #a73c9c none repeat scroll 0 0;
	bottom: 0px;
	height: 1px;
	position: absolute;
	width: 14%;
	left: 0;
}
h3 {
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
p, li {
	font-size: 14px;
	font-weight: normal;
	line-height: 26px;
	color: #444444;
	padding-bottom: 4px;
	font-family: 'Sintony', sans-serif;
}
li {
	padding: 0;
}
a {
	font-family: 'Sintony', sans-serif;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.wrapper {
	width: 100%;
}
/* =============================================================================
   HEADER STYLES
   ============================================================================= */   
.pageWidth {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #ffffff;
	border-top: 4px solid #874080;
	z-index: 99;
	padding: 1px 0 3px;
}
.innerPage {
	background: rgba(255,255,255,0.6)!important;
}
.headLeft {
	float: left;
}
.headLeft a {
	display: block;
}
.caption {
	float: left;
	font-family: 'Conv_ITCAvantGardeStd-Bk', Sans-Serif;
	color: #aaaaaa;
	padding-left: 22px;
	line-height: 39px;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
}
.headRight {
	float: right;
	padding: 15px 0px 14px;
}
body.homepage, html, .homepage .wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
.swiper-container {
	width: 100%;
	height: 100%;
	clear: both;
}
.swiper-slide {
	background-position: center;
	background-size: cover;
}
.slidermask {
	background: rgb(65,171,194);
	background: -moz-linear-gradient(left, rgba(65,171,194,0.75) 0%, rgba(195,64,190,0.75) 100%);
	background: -webkit-linear-gradient(left, rgba(65,171,194,0.75) 0%, rgba(195,64,190,0.75) 100%);
	background: linear-gradient(to right, rgba(65,171,194,0.75) 0%, rgba(195,64,190,0.75) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41abc2', endColorstr='#c340be', GradientType=1 );
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.homepage .header-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #f4f8fb;
	border-bottom: 1px solid #e8eeef;
	z-index: 99999;
}
.header-bottom {
	width: 100%;
	background: #f4f8fb;
	border-top: 1px solid #e8eeef;
}
.swiper-slide .pageWidth {
	position: relative;
	width: 100%;
	height: 100%;
}
.swiper-slide .text {
	position: absolute;
	top: 50%;
	left: 0%;
	width: 75%;
}
.swiper-slide .text p {
	font-family: 'Conv_ITCAvantGardeStd-Bk', Sans-Serif;
	font-size: 24px;
	color: #fff;
	line-height: 36px;
	text-shadow: 0 2px 2px #222;
}
.swiper-slide .text h5 {
	font-family: 'Sintony', sans-serif;
	font-size: 15px;
	color: #fff;
	line-height: 26px;
	margin-top: 15px;
}
.slider_btn {
	outline: none;
	width: 153px;
	border: 1px solid #9fc0cd;
	background-color: #527280;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Conv_ITCAvantGardeStd-Bk', Sans-Serif;
	font-size: 14px;
	color: #fff;
	display: block;
	margin-top: 23px;
}
.contact-info {
	float: right;
}
.points {
	padding-left: 23px;
	margin-bottom: 15px;
	margin-top: -10px;
}
.points ul:after {
	content: '';
	clear: both;
	display: block;
}
.points ul li {
	display: block;
	padding-right: 10px;
	padding-left: 20px;
	list-style: none;
	position: relative;
}
.points ul li:after {
	content: '\e724';
	font-family: 'themify';
	font-size: 12px;
	color: #555;
	left: 0;
	top: -1px;
	position: absolute;
}
.headRight span {
	float: right;
	position: relative;
	padding-bottom: 9px;
}
.divider {
	float: right;
	padding: 0 15px;
	color: #e4e4e4;
}
.contact-info img {
	float: left;
	padding-right: 10px;
}
.contact-info img.phone-icon {
	margin-top: -2px;
}
.contact-info a {
	float: left;
	color: #1779be;
	font-size: 12px;
	display: block;
	line-height: 13px;
}
.inner_header {
	padding: 0;
	position: static;
}
/* =============================================================================
   CONTAINER STYLES
   ============================================================================= */
section {
	position: relative;
	z-index: 0;
}
.row {
	padding: 40px 0;
}
.inner-row {
	padding: 40px 0;
}

article {
	text-align: center;
}
article .icon {
	background: #6672d0;
	width: 80px;
	height: 80px;
	line-height: 100px;
	text-align: center;
	border-radius: 50%;
	margin: 0 auto 22px;
	border: 1px solid transparent;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
article .orange {
	background: #f4792e;
}
article .voilet {
	background: #a73c9c;
}
article .skyblue {
	background: #38b3c2;
}
article .icon i {
	color: #fff;
	font-size: 35px;
}
article h3 {
	font-size: 20px;
	color: #555555;
	margin-bottom: 20px;
	transition-duration: 0.2s;
	transition-property: transform;
	transition-timing-function: ease-out;
}
.owl-carousel a:hover article .icon {
	background: #fff;
	border: 1px solid #874080;
}
.owl-carousel a:hover article .icon i {
	color: #874080;
}
.owl-carousel a:hover article h3 {
	color: #333;
}
.owl-carousel a:hover article p {
	color: #444;
}

.row-bg {
	background: #f4f8fb;
}
.about-row {
	width: 100%;
	margin-top: 20px;
}
.about-row .tittle {
	text-align: inherit;
}
.about-row h3 {
	color: #666666;
	display: inline-block;
	font-size: 20px;
	margin-bottom: 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.about-row h3 strong {
	color: #874080;
	font-family: 'Conv_ITCAvantGardeStd-Bk', Sans-Serif;
	font-size: 20px;
}
.about-row h3 span {
	background: #a73c9c none repeat scroll 0 0;
	bottom: -14px;
	height: 1px;
	position: absolute;
	width: 25%;
}
.mission h3 span {
	right: 0;
}
.vision h3 span {
	left: 0;
}
.padding_bot_none {
	padding-bottom: 0px;
}
.mission {
	width: 49%;
	float: left;
	text-align: right;
	padding: 45px 40px 45px 0;
	border-right: 1px solid #dde7e9;
}
.vision {
	width: 51%;
	float: left;
	padding: 45px 0px 45px 40px;
}
.about-row p strong {
	color: #874080;
}
.parallex {
	background-image: url(../images/paralex_bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	padding: 60px 0;
	position: relative;
	z-index: 0;
}
.parallex-mask {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(56,179,194,0.85);
	width: 100%;
	height: 100%;
}
.parallex .pageWidth {
	position: relative;
	z-index: 1;
}
.parallex .tittle {
	text-align: center;
}
.parallex .tittle h2 {
	color: #ffffff;
}
.parallex .tittle div {
	background: #c8c8c8;
}
.parallex .tittle div span {
	background: #874080;
}
.para_in_middle {
	width: 910px;
	margin: 0 auto;
	max-width: 100%;
	padding-bottom: 20px;
}
.services {
	width: 90%;
	margin: 0 auto;
}
.services ul {
	width: 100%;
	overflow: hidden;
	padding: 25px 0;
}
/*
.services ul:last-child {
	padding-bottom: 0px;
}
*/
.services ul li {
	list-style: none;
	float: left;
	padding: 8px 8%;
	width: 50%;
}
.services ul li a:after {
	content: '';
	position: absolute;
	top: -33px;
	width: 0%;
	height: 1px;
	left: 0;
	background-color: #fff;
	z-index: 1;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.services ul li a:before {
	content: '';
	position: absolute;
	bottom: -33px;
	width: 0%;
	height: 1px;
	right: 0;
	background-color: #fff;
	z-index: 1;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.services li a:hover:after {
	width: 100%;
}
.services li a:hover:before {
	width: 100%;
}
.services a {
	display: block;
	position: relative;
}
.services dl {
	overflow: hidden;
}
.services dt {
	float: left;
	width: 20%;
	text-align: center;
}
.services dt i {
	color: #fff;
	font-size: 50px;
	transition: all linear 0.2s;
}
.services dd {
	padding-left: 2%;
	width: 80%;
	float: left;
}
.services h5 {
	color: #fff;
	display: block;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 10px;
	overflow: hidden;
	width: 100%;
	transition: all linear 0.2s;
}
.services span {
	color: #fefefe;
	font-size: 12px;
	line-height: 22px;
	display: block;
	transition: all linear 0.2s;
}
.services a:hover h5, .services a:hover span, .services a:hover i {
	color: #eee;
}
.smal_qoute {
	padding: 40px 0;
	text-align: center;
}
.smal_qoute h2 {
	font-size: 32px;
	line-height: 32px;
	color: #a73c9c;
	margin-bottom: 15px;
}
.smal_qoute h4 {
	font-size: 24px;
	line-height: 24px;
	color: #444;
}
.smal_qoute h4 span {
	font-size: 24px;
	line-height: 24px;
	color: #27a7b7;
}
/* ========================================s=====================================
   FOOTER STYLES
   ============================================================================= */
footer {
	background: #f4f8fb;
	border-bottom: 4px solid #a73c9c;
	padding: 45px 0 35px;
	border-top: 1px solid #eef2f5;
}
footer h3 {
	color: #444444;
	display: inline-block;
	font-size: 16px;
	margin-bottom: 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
footer h3 strong {
	color: #a73c9c;
	font-family: 'Conv_ITCAvantGardeStd-Bk', Sans-Serif;
	font-size: 16px;
}
footer h3 span {
	background: #a73c9c none repeat scroll 0 0;
	bottom: -12px;
	height: 1px;
	position: absolute;
	width: 30%;
	left: 0;
}
.footer-col {
	float: left;
	background: url(../images/footer-div-bg.png) no-repeat right center;
	padding-right: 5%;
}
.footer-col1 {
	width: 18%;
}
.footer-col2 {
	padding-left: 5%;
	width: 25%;
}
.footer-col3 {
	padding-left: 9%;
	width: 41%;
}
.footer-col4 {
	float: left;
	width: 41%;
	padding-left: 10%;
}
.footer-col3 ul li {
	display: flex;
}
.footer-col3 ul li i {
	font-size: 15px!important;
	line-height: 24px;
	padding-right: 10px!important;
}
.footer-col3 ul li a {
	line-height: 25px;
}
.footer-col4 .footer-logo, .footer-col4 p, .footer-col4 .siri {
	margin-bottom: 15px;
	float: left;
	width: 100%;
}
/*
.footer-col4 .siri {
	display: none;
}
*/
.footer-col ul {
	list-style: none;
}
.footer-col ul li {
	width: 100%;
	float: left;
	padding-bottom: 12px;
	font-size: 13px;
	line-height: 24px;
}
.footer-col ul li i {
	font-size: 10px;
	color: #333;
	padding-right: 5px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.footer-col ul li a {
	color: #444444;
	font-size: 13px;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.footer-col ul li a:hover, .footer-col ul li a:hover i {
	color: #e46a19;
	padding-left: 5px;
}
.social-icons {
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.social-icons a {
	float: left;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	display: block;
	margin-right: 8px;
}
.social-icons a.fb {
	background: #355fa7;
}
.social-icons a.g {
	background: #dd4224;
}
.social-icons a.tw {
	background: #32ccfe;
}
.social-icons a.ln {
	background: #007bb6;
}
.social-icons a.tw {
	background: #32ccfe;
}
.social-icons a.gp {
	background: #dd4224;
}
.social-icons a i {
	color: #fff;
	font-size: 13px;
}
.social-icons a:hover {
	background: #e46a19;
}
/* =============================================================================
   INNERPAGES STYLES
   ============================================================================= */



.aboutus {
	background-image: url(../images/aboutus/banner-aboutus.jpg);
}
.facilities {
	background-image: url(../images/facilities/banner.jpg);
}
.quality {
	background-image: url(../images/quality/banner.jpg);
}
.contactus {
	background-image: url(../images/contact%20us/banner-contactus.jpg);
}
.titlePos {
	display: table;
	height: 100%;
	width: 100%;
}
.titleSection {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.titlePos .titleAlign {
	display: table-cell;
	height: 320px;
	vertical-align: middle;
}
.titleSection h2 {
	color: #fff;
	display: inherit;
	font-size: 40px;
	line-height: 32px;
	margin: 0 auto;
	position: relative;
	text-transform: inherit;
	width: 80%;
	z-index: 1;
	text-shadow: 0 0 3px #222;
}
.quality_list ul.bor-b li {
	border-bottom: 0 none;
}
.mask {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3fbeee+1,ee731d+100 */
	background: -moz-linear-gradient(left, rgba(65,171,194,0.75) 0%, rgba(195,64,190,0.75) 100%);
	background: -webkit-linear-gradient(left, rgba(65,171,194,0.75) 0%, rgba(195,64,190,0.75) 100%);
	background: linear-gradient(to right, rgba(65,171,194,0.75) 0%, rgba(195,64,190,0.75) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41abc2', endColorstr='#c340be', GradientType=1 );
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.subpage-links {
	width: 100%;
	background: #f4f8fb;
	border-bottom: 1px solid #e4e9e9;
}
.subpage-links ul {
	list-style: none;
	display: flex;
	justify-content: center;
}
.subpage-links ul li {
	width: 15%;
	text-align: center;
	position: relative;
	border-right: 1px solid #e4e9e9;
	border-left: 1px solid #e4e9e9;
}
.subpage-links ul li a {
	padding: 6px 0;
	display: block;
}
.subpage-links ul li a img {
	margin-bottom: 12px;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
	-moz-filter: grayscale(1);
}
.subpage-links ul li a h3 {
	color: #444444;
	display: block;
	font-size: 16px;
	line-height: 22px;
	margin: 0 auto 10px;
	min-height: 45px;
	text-align: center;
}
.subpage-links ul li a span {
	background: url(../images/innerpages/bulb-icon-grey.png) no-repeat center center;
	bottom: -11px;
	height: 24px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 16px;
	z-index: 99;
}
.subpage-links ul li a:hover h3, .subpage-links ul li a.active h3 {
	color: #ee731d;
}
.subpage-links ul li a:hover img, .subpage-links ul li a.active img {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
}
.subpage-links ul li a:hover span, .subpage-links ul li a.active span {
	background: url(../images/innerpages/bulb-icon-orange.png) no-repeat center center;
}
.innerpage-content {
	width: 100%;
	min-height: 350px;
	padding: 40px 0 20px;
}
.content-col p {
	padding-bottom: 20px;
	padding-left: 20px;
	position: relative;
}
.content-col p:after {
	content: '\e661';
	position: absolute;
	left: 0;
	top: -1px;
	z-index: 1;
	font-family: 'themify';
	font-size: 12px;
	color: #555;
}
.content-list {
	padding: 10px 0 0;
}
.content-list ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 20px 0 40px;
}
.content-list ul li {
	width: 45%;
}
.content-list ul li .heading {
	width: 100%;
	overflow: hidden;
	margin-bottom: 5px;
}
.content-list ul li .heading .icon {
	float: left;
}
.content-list ul li .heading h4 {
	color: #555555;
	float: left;
	font-size: 18px;
	font-weight: 600;
	padding-left: 15px;
	padding-top: 12px;
}
.toggle_block h5::before {
	content: "";
	background: url(../images/innerpages/readmore-link.png) no-repeat 0 0;
	padding-right: 15px;
}
.toggle_block h5.tgg_close {
	color: #e46a19;
}
.toggle_block h5.tgg_close::before {
	content: "";
	background: url(../images/innerpages/readmore-link.png) no-repeat 0 0;
	padding-right: 15px;
}
.toggle_content span {
	display: block;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}
.toggle_content ul li strong {
	font-weight: 600;
}
.toggle_block h5 {
	border: 0 none;
	color: #1476bc;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	padding: 2px 0;
	text-transform: capitalize;
}
.toggle_block h5:hover {
	color: #e46a19;
}
a.read_more h5 {
	border: 0 none;
	color: #1476bc;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	padding: 2px 0;
	text-transform: capitalize;
}
.right_content {
	float: left;
	padding-top: 35px;
	width: 65%;
}
.m-t-30 {
	margin-top: 30px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.padding-top-none {
	padding-top: 0px;
}
.p-t-20 {
	padding-top: 20px!important;
}
.p-t-25 {
	padding-top: 25px!important;
}
.p-t-0 {
	padding-top: 0px!important;
}
.p-b-0 {
	padding-bottom: 0px!important;
}
.left_img {
	float: right;
	width: 30%;
}
.left_img img {
	margin-bottom: 5px;
}
.iconBox {
	float: left;
	width: 20%;
}
.col2Content {
	float: left;
	margin-left: 3%;
	width: 77%;
}
.content-list ul li .col2Content h4 {
	color: #555555;
	font-size: 19px;
	font-weight: 600;
	display: block;
	margin-bottom: 10px;
}
.style2 ul {
	width: 100%;
	margin: 0 auto;
}
.PullRight ul li:first-child {
	padding: 0;
	width: 80%;
}
.PullRight ul li {
	color: #444;
	float: left;
	font-size: 13px;
	line-height: 19px;
	list-style: outside none none;
	padding: 10px 0 0 4%;
	width: 18%;
}
.style2 ul li h4 {
	color: #555555;
	font-size: 19px;
	font-weight: 600;
	display: block;
	margin-bottom: 10px;
}
.PullRight, .PullLeft {
	clear: both;
	margin: 14px 0;
}
.PullRight ul, .PullLeft ul {
	border-top: 1px solid #eef2f5;
	clear: both;
	padding: 25px 0 0;
	list-style: none;
}
.PullLeft ul li:first-child {
	padding: 10px 1% 0 0;
	width: 18%;
}
.PullFirst ul, .PullFirst {
	border: 0 none;
}
.PullLeft ul li {
	color: #444;
	float: left;
	font-size: 13px;
	line-height: 19px;
	list-style: outside none none;
	padding: 0;
	width: 75%;
}
.style3 span {
	width: 100%;
	margin-bottom: 15px;
	display: block;
	line-height: 25px;
}
.style3 span strong {
	color: #e46a19;
}
.style3 ul {
	margin: 35px auto 0;
	width: 99%;
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.style3 ul li {
	width: 48%;
}
.btn {
	background: #e46a19 none repeat scroll 0 0;
	border: 1px solid #c95a11;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s linear 0s;
}
.btn:hover {
	background: #1779be;
	border: 1px solid #1168a5;
}
#btn-scrollup {
	bottom: 20px;
	color: #444;
	display: none;
	opacity: 0.65;
	position: fixed;
	text-align: center;
	right: 10px;
	line-height: 40px;
	color: #FFF;
	width: 40px;
	height: 40px;
	text-align: center;
}
#btn-scrollup:hover {
	opacity: 1;
}
#btn-scrollup i {
	color: #FFF;
	font-size: 16px;
	line-height: 34px;
}
.contact_row {
	width: 100%;
	float: left;
}
.leftPanel {
	float: left;
	width: 60%;
}
.rightPanel {
	float: left;
	margin-left: 2%;
	width: 35%;
}
.rightPanel h3 {
	color: #333333;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 15px;
}
.rightPanel .contactList ul {
	margin-bottom: 10px;
	list-style: none;
	overflow: hidden;
}
.rightPanel .contactList li i {
	border-radius: 100%;
	color: #84a4c6;
	display: block;
	font-size: 16px;
	line-height: 34px;
	width: 35px;
	height: 35px;
	border: 1px solid #874080;
	text-align: center;
}
.contactList li {
	color: #fff;
	font-size: 13px;
	line-height: 20px;
	list-style: outside none none;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -moz-flex;
}
.rightPanel .contactList li i {
	color: #874080;
}
.rightPanel .contactList li {
	color: #333;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 15px;
}
.rightPanel .contactList li strong, .rightPanel .contactList li a {
	color: #333;
	font-size: 14px;
}
.rightPanel .contactList li a:hover {
	color: #333;
	text-decoration: underline;
}
.contactList li strong {
	line-height: 35px;
	margin-left: auto;
	width: 84%;
}
.contactList li a {
	display: flex;
	width: 100%;
}
.contactForm ul li {
	float: left;
	list-style: outside none none;
	margin-bottom: 18px;
	margin-left: 2%;
	width: 48%;
}
.contactList ul li span {
	margin-left: auto;
	width: 84%;
	line-height: 24px;
}
.contactForm ul li:first-child {
	margin-left: 0;
}
.contactForm li label {
	color: #333;
	float: left;
	font-size: 14px;
	font-weight: normal;
	margin-right: 0;
	padding-bottom: 8px;
	width: 100%;
}
.contactForm li label span {
	color: #ff0000;
	font-size: 12px;
	padding-left: 2px;
}
.contactForm input, .contactForm textarea, .contactForm select {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ddd;
	color: #333;
	float: left;
	font-size: 14px;
	height: 40px;
	outline: medium none;
	padding: 6px 2%;
	resize: vertical;
	width: 95%;
	border-radius: 3px;
}
.contactForm textarea {
	min-height: 120px;
}
.contactForm select {
	height: auto;
	width: 100%;
}
.contactForm input:focus, .contactForm textarea:focus, .select:focus {
	border: 1px solid #0da1da;
	box-shadow: 0 0 4px 0 #7ad4f7;
	outline: 0 none;
}
.contactForm li.full {
	width: 100%;
}
.contactForm li.full input, .contactForm li.full textarea {
	padding: 6px 1%;
	width: 95.5%;
}
.contactForm li div {
	float: left;
	width: 49%;
}
.contactForm li.checkbox input {
	width: auto;
}
.contactForm li.checkbox strong {
	font-size: 14px;
	padding-left: 8px;
}
label.error {
	color: #ff0000 !important;
	font-size: 12px !important;
	font-weight: 300;
	margin-top: 4px;
}
input.error, textarea.error, select.error {
	background: #fdf2f2 none repeat scroll 0 0;
	border: 1px solid #fccece;
	box-shadow: none !important;
	color: #444444 !important;
}
.successmessage {
	color: #45ba2c;
	display: none;
	float: left;
	font-size: 15px;
	line-height: 35px;
}
.failmessage {
	color: #e76a4c !important;
}
.btnBlue {
	background: #874080 none repeat scroll 0 0;
	border: none;
	color: #fff;
	min-width: 100px;
	border-radius: 3px;
	outline: none!important;
}
.btnBlue:hover {
	background: #a24f9a;
}
.contact_btn {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	padding: 9px 11px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s linear 0s;
}
.map {
	float: left;
	margin: 35px 0;
	width: 100%;
}
.content-col p a {
	color: #e46a19
}
.content-col p a:hover {
	text-decoration: underline;
}
.content-col h3 {
	color: #e46a19;
	margin-bottom: 15px;
}
ul.col-ul {
	list-style: none;
	margin-left: 15px;
}
ul.col-ul li {
	padding-bottom: 8px;
}
.bg_fixed {
	width: 100%;
	height: 100%;
	position: relative;
	background: url(../images/facilities/center1.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	padding: 40px 0;
}
.blackmask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.85);
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 0;
}
.bg_fixed p {
	color: #ddd;
	position: relative;
	padding-left: 20px;
	padding-bottom: 20px;
}
.bg_fixed p:after {
	content: '\e661';
	position: absolute;
	left: 0;
	top: -1px;
	z-index: 1;
	font-family: 'themify';
	font-size: 12px;
	color: #ddd;
}
.center_align {
	width: 980px;
	margin: 0 auto;
	padding-bottom: 20px;
	max-width: 100%;
	text-align: center;
}
.center_img {
	margin: 0 auto;
	text-align: center;
	display: block;
}
.quality_list {
	display: block;
}
.quality_list ul {
	margin: 0;
	overflow: hidden;
	padding: 0;
}
.quality_list ul li:first-child {
	border-left: 0 none;
}
.quality_list ul li {
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	float: left;
	list-style: none;
	overflow: hidden;
	padding: 25px 2% 15px;
	position: relative;
	text-align: center;
	width: 33%;
}
.quality_list ul li p {
	padding-top: 12px;
}
.roundedCircle {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background: #a73c9c;
	margin: 0 auto;
	display: block;
}
.roundedCircle i {
	font-size: 36px;
	line-height: 80px;
	text-align: center;
	display: block;
	color: white;
}
.roundedCircle.two {
	background: #38b3c2;
}
.roundedCircle.three {
	background: #f4792e;
}
.roundedCircle.four {
	background: #6672d0;
}
.roundedCircle.five {
	background: #399d12;
}
.roundedCircle.six {
	background: #d49c15;
}
.BgF5 {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 30px 0;
}
.video_section:after {
	content: '';
	clear: both;
	display: block;
}
.video_section {
	padding: 15px 0;
}
.left_video {
	float: left;
	position: relative;
	width: 45%;
}
.left_video img {
	box-shadow: 0 0 3px 3px #aaa;
	border: 2px solid #FFF;
}
.left_video a:hover span {
	background: rgba(65, 171, 194, 1);
}
.left_video span {
	background: rgba(255,255,255, .7) none repeat scroll 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #000;
	font-size: 22px;
	height: 45px;
	width: 45px;
	left: 50%;
	top: 50%;
	line-height: 45px;
	margin: -20px 0 0 -50px;
	padding-left: 4px;
	position: absolute;
	text-align: center;
}
.right_video_content {
	float: right;
	width: 54%;
}
.right_video_content p {
	padding-left: 25px;
	position: relative;
	padding-bottom: 10px;
}
.right_video_content p:after {
	content: '\e661';
	position: absolute;
	left: 0;
	top: -1px;
	z-index: 1;
	font-family: 'themify';
	font-size: 12px;
	color: #555;
}
.left_video a {
	display: inline-block;
}
.btn-brochure {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	padding: 15px 24px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s linear 0s;
	background: #27a7b7;
	color: #fff;
	border-radius: 3px;
}
.btn-brochure i {
	color: #fff;
	padding-right: 6px;
	font-weight: 600;
}
.btn-brochure:hover {
	background: #1eb9cc;
}
