.menu {
	float: right;
}
.menu li {
	float: left;
	list-style: none;
	padding: 0;
	padding: 0 39px;
	position: relative;
}
.menu li:after {
	content: '//';
	position: absolute;
	top: 11px;
	right: -5px;
}
.menu li:last-child:after {
	display: none;
}
.menu li a {
	font: normal 12px/18px 'Conv_ITCAvantGardeStd-Bk', Sans-Serif;
	color: #333333;
	letter-spacing: 0;
	margin-left: 2px;
	padding: 16px 0 11px;
	display: block;
	text-transform: uppercase;
	overflow: hidden;
}
.menu li a span {
	font: normal 12px/18px 'Conv_ITCAvantGardeStd-Bk', Sans-Serif;
    color: #333;
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease 0s;
    white-space: nowrap;
}
.menu ul li a span:before {
	content: attr(data-hover);
	position: absolute;
	top: 35px;
	transform: translate3d(0px, 0px, 0px);
	left: 0;
	right: 0;
	text-align: center;
}
.menu li:last-child {
	padding-right: 0!important;
}
.menu li a i{
	 font-size: 14px;
    line-height: 13px;
	color: #e46a19	
}
.menu li a strong {
	color: #e46a19;
	font-weight:bold;
}
.menu li:last-child a {
	padding-right: 0;
}
.menu li a:hover span, .menu li a.active span {
	color: #27a7b7;
	transform: translateY(-35px);
}
.menu li {
	position: relative;
	z-index: 99;
}
.menu ul ul {
	display: none;
	left: 0;
	padding: 0;
	position: absolute;
	top: 51px;
	width: 260px;
}
/* .menu ul li:hover ul {
	display: none !important;
} */
.menu ul ul.submenu li {
	padding: 0;
	background: #4B9FC3;
	display: block;
	width: 85%;
	padding-top: 1px;
}
.menu  ul ul.submenu li:first-child {
	padding-top: 0;
}

.sticky {
    background-color: #ffffff;    
    box-shadow: 0 1px 8px 0 #b1b1b1;
    display: block;
    left: 0;
    min-width: 100%;
    position: fixed!important;
    top: 0;
    width: 100%;
    z-index: 999;
}
.sticky.innerPage {
	background: rgba(255,255,255,1)!important;
}
.goNext {
    position: absolute;
    bottom: 58px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 25px;
    z-index: 1;
}
.goNext i {
    color: #f9f9f9;
    font-size: 24px;
}
}
@media (min-width: 768px) and (max-width: 979px) {
	.menu li {
			padding: 0 34px;
	}
}
@media (max-width:767px) {
	.headRight span {
		float: none!important;
		padding-bottom: 0px!important;
	}
	.menu li a span {
		color: white;
	}
	.menu {
		display: none;
	}
	.sticky.fadeInDown {
		animation-name: none;
	}
	.sticky {
		position: static!important;
		box-shadow: none;
		border-top: 4px solid #874080;
	}
	.headLeft a img {
		width: auto;
	}
	.menu {
		display: none;
		float: none;
		width: 100%;
		background: #874080;
	}
	.res_menu {
		width: 35px;
		height: 30px;
		position: absolute;
		right: 13px;
		top: 13px;
		cursor: pointer;
		display: block;
		z-index: 999;
		border: 1px solid #874080;
		border-radius: 2px;
	}
	.line1, .line2, .line3 {
		width: 22px;
		height: 2px;
		background-color: #874080;
		margin: 6px auto;
		transition: 0.4s;
	}
	.change .line1 {
		-webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
		transform: rotate(-45deg) translate(-6px, 6px) ;
	}
	.headRight.fadeInUp {
		animation-name: none;
	}
	.headRight.animated {
		animation-duration: 0s;
		animation-fill-mode: none;
	}
	.change .line2 {opacity: 0;}

	.change .line3 {
		-webkit-transform: rotate(45deg) translate(-5px, -5px) ;
		transform: rotate(45deg) translate(-5px, -5px) ;
	}
	.menu ul li {
		float: none;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		padding: 0;
	}
	.menu ul li:after {
		display: none;
	}
	.menu ul li a {
		padding:12px;
		color: white;
		margin: 0;
	}
	.menu ul li a:hover {
		background: rgba(255,255,255,0.1);
	}
	.menu ul li a.active {
		background: rgba(255,255,255,0.05);
	}
@media (min-width:768px) {
	.menu {
		display: block!important;
}
	}
}

.dropdown-menu li a{
	display:block;
}
.dropdown-menu li{
	float:none;
	width:100%;
	padding:0 20px!important;
}
.dropdown-menu li:after{
	content:''!important;
}