
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}

@media (max-width: 1169px) {
.pageWidth {
	width: auto;
	padding: 0 10px;
}
.swiper-slide .text {
	position: absolute;
	width: 70%;
}
.owl-prev {
	left: 0px;
}
.owl-next {
	right: 0px;
}
.swiper-slide .pageWidth {
	width: 98%;
}
}

@media (max-width: 980px) {
.swiper-pagination {
	display: none;
}
.swiper-slide {
	height: 750px !important;
}
.swiper-container {
	height: auto;
}
.services ul li {
	padding: 8px 4%;
}
.footer-col1 {
	padding-right: 3%;
}
.footer-col2, .footer-col3, .footer-col4 {
	padding-left: 3%;
}
.swiper-slide .text {
	width: 70%;
}
.swiper-button-next, .swiper-button-prev {
	display: none;
}
.homepage .header-bottom {
	bottom: inherit;
	left: inherit;
	position: inherit;
}
.right_content {
	padding-top: 15px;
}
.content-list ul li .heading h4 {
	font-size: 18px;
}
.style3 ul li {
	width: 46%;
}
.goNext {
	display: none;
}
}

@media (max-width: 940px) {
.quality_list ul li {
	min-height: 190px;
}
}

@media (min-width: 768px) and (max-width: 979px) {
.menu li {
	padding: 0 34px;
}
.swiper-slide {
	height: 550px !important;
}
.services {
	width: 100%;
}
.services ul li {
	padding: 8px 0;
}
.footer-col1 {
	width: 30%;
}
.footer-col2, .footer-col3 {
	padding-left: 13%;
	width: 60%;
}
.footer-col3 {
	background: none;
}
.footer-col4 {
	padding-left: 0px;
	margin-top: 5%;
	width: 100%;
}
footer, .row {
	padding: 25px 0;
}
.parallex {
	padding: 40px 0;
}
.swiper-slide .text {
	width: 80%;
}
.swiper-slide .text p {
	font-size: 25px;
	line-height: 40px;
}
.inner-row {
	padding: 0px;
}
.left_img {
	width: 30%;
}
.right_content {
	width: 66%;
}
.content-list ul li .heading .icon {
	width: 13%;
}
.content-list ul li .heading h4 {
	padding-left: 0;
	padding-top: 12px;
	width: 100%;
}
.style2 ul {
	width: 90%;
}
}

@media (max-width: 800px) {
.caption {
	line-height: 29px;
}
.subpage-links ul li {
	width: 18%;
}
}

@media (max-width: 798px) {
}

@media (max-width: 767px) {
h2 {
	font-size: 22px;
	margin-bottom: 15px;
}
h2 strong {
	font-size: 22px;
}
.titleSection h2 {
	padding-top: 0;
}
h2 div {
	margin-top: 10px;
}
.smal_qoute h2 {
	font-size: 22px;
	margin-bottom: 5px;
}
.smal_qoute h4, .smal_qoute h4 span {
	font-size: 14px;
}
.smal_qoute {
	padding: 25px 0;
}
p, li {
	font-size: 12px;
	line-height: 22px;
}
.sticky-navigation {
	position: relative !important;
}
.logo-small {
	display: none !important;
}
.swiper-container {
	height: auto !important;
}
.swiper-slide {
	height: 380px !important;
}
header {
	position: relative !important;
	padding-bottom: 0;
}
header .pageWidth {
	width: auto;
	padding: 0;
}
.headLeft {
	float: none!important;
	width: 80px;
	padding-left: 10px;
	padding-bottom: 4px;
}
.headRight {
	float: none;
	width: auto;
	padding: 0;
}
.about {
	width: 80%;
}
article h3 {
	font-size: 18px;
	margin-bottom: 10px;
}
article .icon {
	margin-bottom: 15px;
}
.services {
	width: 100%;
}
.services ul {
	padding: 0px;
	width: 90%;
	margin: 0 auto;
}
.services ul li {
	padding: 0 0 20px;
	width: 100%;
}
.footer-col1 {
	width: 30%;
}
.footer-col2, .footer-col3 {
	padding-left: 13%;
	width: 60%;
}
.footer-col3 {
	background: none;
}
.footer-col4 {
	padding-left: 0px;
	margin-top: 5%;
	width: 100%;
}
footer, .row {
	padding: 25px 0;
}
.parallex {
	padding: 40px 0;
}
.swiper-button-next, .swiper-button-prev {
	height: 30px;
	top: 60%;
}
.padding_bot_none {
	padding-bottom: 0;
}
.swiper-slide .text {
	width: 70%;
	top: 25%!important;
}
.swiper-slide .text p {
	font-size: 22px;
	line-height: 30px;
}
.footer-col ul li a:hover, .footer-col ul li a:hover i {
	padding-left: 0px;
}
.mean-container .mean-bar {
	margin-bottom: 15px;
}
.homepage .mean-bar {
	margin-bottom: 0px;
	padding: 2px 0;
}
.titlePos .titleAlign {
	height: 140px;
}
.titleSection h2 {
	font-size: 24px;
	line-height: 36px;
}
.content-col p {
	padding-bottom: 10px;
}
.inner-row {
	padding: 0;
}
.content-list {
	padding: 0;
}
.content-list ul {
	margin: 0;
	display: inherit;
}
.content-list ul li {
	padding: 2% 0;
	width: 100%;
	float: left;
}
.content-list ul li .heading h4 {
	font-size: 17px;
	padding-top: 11px;
}
.content-list ul li .col2Content h4 {
	font-size: 17px;
	margin-bottom: 5px;
}
.style2 ul li h4 {
	font-size: 17px;
	margin-bottom: 5px;
}
.content-list ul li .heading .icon {
	float: left;
	width: 6%;
}
.content-list ul li .heading h4 {
	font-size: 16px;
	padding-left: 3%;
	padding-top: 10px;
	width: 80%;
}
.iconBox {
	width: 11%;
}
.style2 ul {
	width: 100%;
}
.style3 ul {
	width: 100%;
}
.leftPanel {
	width: 100%;
}
.rightPanel {
	margin-left: 0px;
	margin-top: 5%;
	width: 100%;
}
.contact_row {
	margin-top: 10px;
}
.rightPanel .contactList ul {
	margin-bottom: 0px;
	width: 340px;
	max-width: 100%;
}
.right_content {
	width: 100%;
	margin-bottom: 10px;
}
.left_img {
	display: none;
}
.left_video, .right_video_content {
	float: none;
	width: 100%;
}
.left_video {
	text-align: center;
}
.popup-youtube {
	margin-bottom: 30px;
}
.left_video a img {
	margin: 0 auto;
	display: block;
}
.left_video span {
	margin: -38px 0 0 -22px;
}
}

@media (max-width: 640px) {
.swiper-slide {
	height: 300px !important;
}
.divider {
	visibility: hidden;
}
.contact-info {
	clear: right;
	float: right;
	padding-bottom: 5px;
}
.swiper-slide .text {
	width: 97%;
}
.swiper-slide .text h5 {
	font-size: 13px;
	margin-top: 5px;
}
.slider_btn {
	width: 120px;
	padding: 12px 0;
	margin-top: 10px;
}
.swiper-slide .text p {
	font-size: 20px;
	line-height: 32px;
}
.subpage-links {
	display: none;
}
.innerpage-content {
	padding: 20px 0;
}
h2 {
	font-size: 20px;
}
h2 strong {
	font-size: 20px;
}
h2 div {
	margin-top: 7px;
}
.PullRight ul, .PullLeft ul {
	padding: 10px 0;
}
.quality_list ul li {
	width: auto;
	float: none;
	border-left: 0;
	min-height: auto;
}
.quality_list ul.bor-b li {
	border-bottom: 1px solid #ddd;
}
}

@media (max-width: 639px) {
.socialmedia {
	display: none;
}
.contact-info {
	clear: inherit;
	float: left;
	padding-bottom: 0;
}
.divider {
	float: left;
}
.divider {
	visibility: visible;
}
.swiper-button-next, .swiper-button-prev {
	height: 20px;
	top: 60%;
}
.vision {
	padding: 25px 0 25px 20px;
}
.mission {
	padding: 25px 20px 25px 0;
}
.footer-col1 {
	padding-right: 0;
	width: 100%;
	background: none;
}
.footer-col ul li {
	float: left;
	padding: 0 2% 1%;
	width: auto;
}
.footer-col2, .footer-col3 {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	padding: 0;
	width: 100%;
}
.footer-col4 {
	margin-top: 2%;
}
footer h3 {
	font-size: 14px;
	margin-bottom: 15px;
}
footer h3 span {
	bottom: -5px;
}
.footer-col4 .footer-logo, .footer-col4 p, .footer-col4 .siri {
	margin-bottom: 10px;
}
.footer-col {
	border-bottom: 1px solid #e8eeef;
	margin-bottom: 2%;
	padding-bottom: 2%;
}
.titleSection h2 {
	font-size: 18px;
	line-height: 29px;
	width: 100%;
}
.left_img {
	width: 100%;
	margin: 20px 0;
	text-align: center;
}
.toggle_block h5 {
	font-size: 13px;
}
.style3 ul {
	display: inherit;
}
.style3 ul li {
	width: 100%;
	float: left;
	padding-bottom: 15px;
}
}

@media (max-width: 610px) {
.swiper-slide .text {
	top: 20%!important;
}
}

@media (max-width: 480px) {
.swiper-slide {
	height: 280px !important;
}
.swiper-button-next, .swiper-button-prev {
	height: 20px;
	top: 70%;
}
.swiper-slide .text h5 {
	font-size: 12px;
	line-height: 21px;
	display: none;
}
.swiper-slide .text {
	top: 38%!important;
}
.swiper-slide .text p {
	line-height: 21px;
}
.slider_btn {
	width: 90px;
	font-size: 10px;
}
h2 {
	font-size: 18px;
}
h2 strong {
	font-size: 18px;
}
h2 div {
	margin-top: 5px;
}
footer, .row {
	padding: 15px 0;
}
.parallex {
	padding: 20px 0;
}
.about {
	width: 100%;
}
.mission {
	padding: 0 0 10px;
	width: 100%;
	text-align: left;
	border-right: none;
	border-bottom: 1px solid #dde7e9;
}
.vision {
	padding: 10px 0 0;
	width: 100%;
}
.about-row h3, .about-row h3 strong {
	font-size: 16px;
	margin-bottom: 15px;
}
.about-row h3 span {
	bottom: -8px;
}
.services ul {
	width: 100%;
}
.services dt i {
	font-size: 40px;
}
.services h5 {
	font-size: 16px;
}
.swiper-slide .text p {
	font-size: 15px;
	line-height: 28px;
}
.iconBox {
	width: 18%;
}
.contactForm ul li {
	margin-bottom: 18px;
	margin-left: 0%;
	width: 100%;
}
}

@media (max-width: 478px) {
.swiper-slide {
	height: 250px !important;
}
.titleSection h2 {
	font-size: 15px;
	line-height: 25px;
	width: 100%;
}
.content-list ul li .heading .icon {
	width: 11%;
}
.content-list ul li .col2Content h4 {
	font-size: 16px;
}
.PullRight ul li:first-child {
	width: 100%;
}
.PullRight ul li img {
	display: none;
}
.PullLeft ul li:first-child img {
	display: none;
}
.PullLeft ul li {
	width: 100%;
}
}

@media (max-width: 360px) {
.swiper-slide .text p {
	font-size: 13px;
	line-height: 24px;
}
}

@media (max-width: 358px) {
.swiper-slide {
	height: 250px !important;
}
}
